In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from ld_script import *
pd.set_option('display.max_colwidth', None)

In [2]:
# path to the S0601 subject table
data_dir = 'data/subject_tables/unzipped_files/ACSST5Y2019.S0601_2021-01-12T121040'

In [3]:
# imports Sean's tract verification file
tract_checker = pd.read_csv('data/tx_tract_fips.csv')

In [4]:
S0601_data = pd.read_csv(os.path.join(data_dir, 'ACSST5Y2019.S0601_data_with_overlays_2021-01-12T121022.csv'), low_memory=False)
S0601_metadata = pd.read_csv(os.path.join(data_dir, 'ACSST5Y2019.S0601_metadata_2021-01-12T121022.csv'))

In [5]:
print(f'Shape of data table proper is {S0601_data.shape} \n'
    + f'Shape of metadata table is {S0601_metadata.shape}')

Shape of data table proper is (5266, 426)
Shape of metadata table is (425, 2)

In [6]:
S0601_data.head(2)

,GEO_ID,NAME,S0601_C01_001E,S0601_C01_001M,S0601_C01_002E,S0601_C01_002M,S0601_C01_003E,S0601_C01_003M,S0601_C01_004E,S0601_C01_004M,...,S0601_C04_049E,S0601_C04_049M,S0601_C04_050E,S0601_C04_050M,S0601_C04_051E,S0601_C04_051M,S0601_C04_052E,S0601_C04_052M,S0601_C04_053E,S0601_C04_053M
0,id,Geographic Area Name,Estimate!!Total!!Total population,Margin of Error!!Total!!Total population,Estimate!!Total!!Total population!!AGE!!Under 5 years,Margin of Error!!Total!!Total population!!AGE!!Under 5 years,Estimate!!Total!!Total population!!AGE!!5 to 17 years,Margin of Error!!Total!!Total population!!AGE!!5 to 17 years,Estimate!!Total!!Total population!!AGE!!18 to 24 years,Margin of Error!!Total!!Total population!!AGE!!18 to 24 years,...,Estimate!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!Below 100 percent of the poverty level,Margin of Error!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!Below 100 percent of the poverty level,Estimate!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!100 to 149 percent of the poverty level,Margin of Error!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!100 to 149 percent of the poverty level,Estimate!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!At or above 150 percent of the poverty level,Margin of Error!!Native; born outside U.S.!!POVERTY STATUS IN THE PAST 12 MONTHS!!Population for whom poverty status is determined!!At or above 150 percent of the poverty level,Estimate!!Native; born outside U.S.!!PERCENT ALLOCATED!!Citizenship status,Margin of Error!!Native; born outside U.S.!!PERCENT ALLOCATED!!Citizenship status,Estimate!!Native; born outside U.S.!!PERCENT ALLOCATED!!Place of birth,Margin of Error!!Native; born outside U.S.!!PERCENT ALLOCATED!!Place of birth
1,1400000US48001950100,"Census Tract 9501, Anderson County, Texas",4844,524,7.2,2.4,18.4,3.7,4.2,2.2,...,71.4,44.0,0.0,74.0,28.6,44.0,(X),(X),(X),(X)

In [7]:
S0601_metadata.head(2)

           GEO_ID                                 id
0            NAME               Geographic Area Name
1  S0601_C01_001E  Estimate!!Total!!Total population

In [8]:
# Uses Sean's function to break apart GEOID into state(2) + county(3) + tract(6)
S0601_data = parse_geo_id(S0601_data)

In [10]:
S0601_data.FIPS.sort_values().equals(tract_checker.GEOID.astype(str).sort_values())

False